form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}