h1 {
    margin: 0;
    padding: 0;
    background-color: darkblue;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: blue;
    padding: 20px 5px;
}

a {
    text-decoration: none;
    margin-right: 10px;
    background-color: lightblue;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
a:hover {
    background-color: lightgreen;
}
