<svg width="48" height="48" viewBox="0 0 48 48" aria-label="Loading..." role="img">
    <circle
        cx="24"
        cy="24"
        r="20"
        fill="none"
        stroke="#1976d2"
        stroke-width="4"
        stroke-linecap="round"
        stroke-dasharray="100"
        stroke-dashoffset="60"
    >
        <animateTransform
            attributeName="transform"
            type="rotate"
            from="0 24 24"
            to="360 24 24"
            dur="1s"
            repeatCount="indefinite"
        />
    </circle>
</svg>
